.log-window {
  box-sizing: border-box;
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0px 8px 0 rgb(0, 0, 0);
  margin: 0px 20px 0px 20px;
  display: inline-flex;
  flex-direction: column;
  /* max-height: 300px;
  min-height: 300px; */
  /* background-color: brown; */
  min-width: 550px;
  max-width: 550px;
  max-height: 350px;
}

.log-title {
  font-size: large;
  font-weight: bold;
  background-color: rgb(33, 33, 33);
  box-shadow: inset 0 0px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 3px 10px 3px 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.log-inner {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 5px;
  overflow: hidden;
  overflow-y: scroll;
  /* background-color: pink; */
}

.log-item {
  /* background-color: rgb(16, 122, 183); */
  background-color: rgb(60, 60, 60);
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  /* border: 1px solid rgb(29, 29, 29); */
  border-radius: 5px;
  /* border-top: none; */
  padding: 5px;
  margin: 5px 0 5px 0;
  /* background-color: pink; */
  /* margin: 2px 0 2px 0; */
  /* margin: -2px; */
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.85);
}

.log-active {
  background-color: rgb(16, 183, 100);
}

.log-item:hover {
  /* background-color: rgba(16, 172, 183); */
  background-color: rgba(0, 0, 0, 0.1);
}


.name-colour { 
  color: hotpink;
}

.name-colour2 {
  color: sandybrown;
}

.name-colour3 {
  color: #7de8e8;
}