.log-window {
  margin: 0px 20px 0px 20px;
  display: inline-flex;
  flex-direction: column;
  /* max-height: 300px;
  min-height: 300px; */
  /* background-color: brown; */
  min-width: 550px;
  max-width: 550px;
  max-height: 400px;
  min-height: 400px;
  margin: 10px;
}

.log-inner {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  overflow-y: scroll;
}

.log-inner-inner {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

.log-active {
  background-color: rgb(16, 183, 100);
}

.log-item:hover {
  /* background-color: rgba(16, 172, 183); */
  background-color: rgba(0, 0, 0, 0.1);
}

.name-colour {
  color: hotpink;
}

.name-colour2 {
  color: sandybrown;
}

.name-colour3 {
  color: #7de8e8;
}


.loot-table {
  display: flex;
  flex-direction: row;
}