.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  /* border: solid pink 1px; */
  /* min-height: 100vh; */
}

.content {
  display: flex;
    border: solid pink 1px;
    align-items: stretch;
    /* max-height: 600px; */
}