.app {
  display: flex;
  /* flex-direction: row; */
  /* align-items: flex-start; */
  /* align-self: stretch; */
  /* align-content: stretch; */
  /* align-items: stretch; */

  height: 100vh;


}

.content {
  display: flex;
  flex-direction: row;
  /* background-color: lightcoral; */
    align-self: stretch;
    overflow: hidden;
    overflow-y: scroll;
    width: 100vw;
}

/* .something {
  display: flex;
  flex-direction: row;
} */