html,
body {
  background-color: rgb(24, 25, 26);
  color: rgb(245, 246, 247);
  font-family: "Consolas";
  font-size: 14px;
  box-sizing: border-box;
  /* border: solid rgb(219, 91, 202) 1px; */
  /* height: 100%; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: rgb(70, 71, 72) rgb(32, 33, 34);
}

/* a:visited {
  color: hotpink;
} */

