html,
body {
  background-color: rgb(29, 29, 29);
  color: rgb(184, 184, 184);
  font-family: "Consolas";
  font-size: 14px;
  box-sizing: border-box;
  /* border: solid green 1px; */
}

* {
  margin: 0;
  padding: 0;
  scrollbar-color: rgb(70, 70, 70) rgb(32, 32, 32);
}