html,
body {
  background-color: rgb(24, 25, 26);
  color: rgb(245, 246, 247);
  font-family: "Consolas";
  font-size: 14px;
  box-sizing: border-box;
  /* border: solid rgb(219, 91, 202) 1px; */
  /* height: 100%; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #464748 #202122;
}

div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  background-color: #202122;
}

div::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: 7px solid transparent;
  background-color: #464748;
}

/* a:visited {
  color: hotpink;
} */

