.bank-window {
  box-sizing: border-box;
  /* border: solid rgb(145, 33, 51) 1px; */
  background-color: rgb(39, 39, 39);

  /* border-right: solid black 1px; */
  /* box-shadow: 2px 0px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0px 8px 0 rgb(0, 0, 0);
  margin: 20px;
  display: inline-flex;
  flex-direction: column;
}

.bank-title {
  font-size: large;
  font-weight: bold;
  background-color: rgb(33, 33, 33);
  box-shadow: inset 0 0px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 3px 10px 3px 10px;
  display: flex;
  justify-content: center;
}

.bank-inner {
  box-sizing: border-box;
  height: 300px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  overflow: hidden;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 2px;
  column-gap: 15px;
  /* margin: 0 auto; */
}

.itemInBank {
  list-style: none;
  margin-left: 0;
  box-sizing: border-box;
  list-style: none;
  /* float: left; */
  font-size: 12px;
  margin-top: 0px;
  padding: 0px;
  max-height: 45px;
  /* cursor: move; */
  /* background-color: rgb(145, 145, 33); */
  position: relative;
}

.itemInBank:hover {
  background-color: rgb(65, 65, 65);
}

.itemImage {
  margin-top: 5px;
  pointer-events: none;
}

.itemAmount {
  pointer-events: none;
  position: absolute;
}
